.header {
    width: 100%;
    height: 60px;

    border: 3px solid #7B7B7B;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-around;
}