.display {
    display: flex;
}

.digit {
    width: 24px;
    height: 44px;
    background: url("https://davmedia.test.tech-mail.ru/editor_uploads/2023/02/07/minesweeper-sprites_9TPZzv3.png") no-repeat;  
    background-size: 278px 168px; 
    
    &_1 {background-position: 0px 0;}
    &_2 {background-position: -28px 0;}
    &_3 {background-position: -56px 0;}
    &_4 {background-position: -84px 0;}
    &_5 {background-position: -112px 0;}
    &_6 {background-position: -140px 0;}
    &_7 {background-position: -168px 0;}
    &_8 {background-position: -196px 0;}
    &_9 {background-position: -224px 0;}
    &_0 {background-position: -252px 0;}
}